/* Main Page Elements */
html {height: 100%;}
body {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 12px; background-color: rgb(251, 251, 251); }
.pages {display: none; width: 100%; height: 100%; background-color: rgb(251, 251, 251); text-align: center}
.page-upper {background-color: rgb(251, 251, 251); min-height:150px; height: 35%; width: 100%; }
.page-head {height: 48px; width: 100%; background-color: rgb(231,231,231); box-shadow: 0px 1px 1px rgba(100,100,100,.5); cursor: pointer;}
.page-lower {background-color: rgb(251, 251, 251); height: 65%; min-height:330px; width: 100%; padding-top: 12px;}


/* Reusable Classes */
.page-thin {width: 92%; margin-left: 4%;}
.page-title {position: relative; bottom: -24px; font-size: 2em; font-family: "HelveticaNeue-Light"; color: rgb(100,100,100);}
.location-img {width:33%; float: left; height: 140px; text-align: center; margin-top: 20px; cursor: pointer;}
.img-circle {height:82px; width: 82px;}
.location-img p {margin-top: 10px; font-size: 1.2em;}

.img_feather {float: right; top: 15px; position: relative; height: 20px; margin-right: 10px; opacity: .5;}
.img-arrow {float: left; top: 12px; position: relative; height: 25px; margin-left: 10px; margin-right: 8px;}
.pre-page {float: left; top: 12px; position: relative; color:rgb(100,100,100); font-size: 1.4em;}
.btn-measure {width: 88%; margin-top: 25px; font-size: 1.4em; padding: 10px; border-radius: 3px; height: 56px; border: 0px; box-shadow: 0px -4px 0px rgba(0,0,0,.2) inset;}
.form-group {width: 88%; height: 50px; margin-left: 6%;}
.forms {height: 52px; border-radius: 3px; width: 100%; border: 1px rgb(220,220,220) solid; box-shadow: 0px 1px 0px rgb(230,230,230); background-color: rgb(251,251,251); cursor: pointer;}
.forms:focus {outline:none; box-shadow: 0px 1px 1px rgb(180,180,180) inset; background-color: rgb(255,255,255);}
input {font-size: 1.25em; padding-left: 20px;}
.page-bottom {position: absolute; height: 70px; width: 100%; bottom: 0px;}
.btn-rec {background-color: rgb(170,170,170); margin-top: 0px;}
.rec-cell {width: 92%; margin-left: 4%; margin-bottom: 12px; background-color: rgb(255,255,255); border-radius: 3px; box-shadow: 0px 1px 3px rgb(200,200,200); text-align: left; padding: 8px; }
.cell-title {width: 100%; height: 31px; font-size: 1.3em; font-family: "HelveticaNeue-Bold"; border-bottom: 1px rgb(220,220,220) solid; padding-left: 4px; color: rgb(160,160,160);}
.cell-content {padding: 4px; padding-top: 7px; font-size: 1.2em;}
.my-location {font-style: normal; text-decoration: none;}

/* unique ids */
#ambient-result {height: 330px; margin-top: -34px; width: 90%; margin-left: 5%; overflow: hidden; border-radius: 3px;}
.page-title img {margin-top: 15px; width: 200px;}
#btn-ambient {background-color: #FF6E6E;}
#btn-insulation {background-color: #7AD9E1;}
#img-efficiency {width: 200px; height: auto; margin-top: -9px;}
#rvalue {background-color: darkseagreen; font-family: "HelveticaNeue-Bold"; color: white; border-radius: 60px; padding: 14px;}

/* State Changes */
#page-landing {display: inline;}



.chart rect {
   fill: #5CBA27;
   stroke: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}